# Jeopardy Practice

The purpose of this notebook is to create a simple function that asks the user to input the correct response to Jeopardy clues and records the number of correct/incorrect responses

In [1]:
import time
import os
import pandas as pd
import numpy as np
pd.options.display.max_colwidth = 125
pd.options.display.max_rows = 100
os.chdir('C:\\Users\\mhous\\scrap\\JeopardyProject')

In [2]:
df = pd.read_csv('clues.csv')

df.head(10)

,game_id,show_number,date,value,round,category,column,row,order_number,clue,correct_response,correct,incorrect,n_correct,n_incorrect,n_didnt_know
0,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$200,J,HISTORIC STRUCTURES,1.0,1.0,8,"In an effort to preserve this 800-year-old Italian structure, really heavy counterweights were installed",the Leaning Tower of Pisa,Tim,NaN,1,0,0
1,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$400,J,HISTORIC STRUCTURES,1.0,2.0,9,"Before billeting the RAF in World War II, Blickling Estate was the birthplace of this second wife of Henry VIII",Anne Boleyn,Eric,NaN,1,0,0
2,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$600,J,HISTORIC STRUCTURES,1.0,3.0,10,"Later famous as a rock concert venue, Tokyo's Nippon Budokan Hall was built to host this martial art at the 1964 Olympics",judo,Tim,NaN,1,0,0
3,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$800,J,HISTORIC STRUCTURES,1.0,4.0,11,"""Scholars"" know the Knights Hospitaller had a palace for the grand master on this large Greek island",Rhodes,NaN,"Dana, Tim, Triple Stumper",0,2,3
4,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$1000,J,HISTORIC STRUCTURES,1.0,5.0,12,Herod built this Israel mountain fortress; later the Romans had trouble taking it from the Zealots,Masada,Dana,NaN,1,0,0
5,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$200,J,ALPHANUMERIC ATHLETES,2.0,1.0,21,Married to GB: TB12,Tom Brady,Eric,NaN,1,0,0
6,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$400,J,ALPHANUMERIC ATHLETES,2.0,2.0,22,Recently retired: KB24,Kobe Bryant,Eric,NaN,1,0,0
7,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$600,J,ALPHANUMERIC ATHLETES,2.0,3.0,23,Point guard CP3,Chris Paul,Eric,NaN,1,0,0
8,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$800,J,ALPHANUMERIC ATHLETES,2.0,4.0,24,Heisman Trophy winner RG#3,Robert Griffin III,Eric,NaN,1,0,0
9,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$1000,J,ALPHANUMERIC ATHLETES,2.0,5.0,25,Hall of Fame running back LT2,LaDainian Tomlinson,NaN,"Eric, Tim, Triple Stumper",0,2,3

The purpose of the override is to manually record if you got the answer correct, but the input differed from the correct response due to spelling, parentheses, etc.

Just put "Y" as the override and it will be counted

In [3]:
def random_clue(data):
    random_int = np.random.randint(0, len(data))
    category = data.iloc[random_int]['category']
    clue = data.iloc[random_int]['clue']
    correct_response = data.iloc[random_int]['correct_response']
    game_round = data.iloc[random_int]['round']
    row = data.iloc[random_int]['row']
    print("Category:" + category)
    print("Round:"  + game_round + " Row:" + str(row))
    time.sleep(1)
    print("Clue:" + clue)
    response = input()
    print("Correct Response:" + correct_response)
    override = input()
    if response == correct_response or override == "Y":
        return True
    else:
        return False

In [4]:
def practice_questions(data, n_questions):
    start_time = time.perf_counter()
    r = 0
    w = 0
    for i in range(n_questions):
        response = random_clue(data)
        if response == True:
            r +=1
        else:
            w +=1
    end_time = time.perf_counter()
    print('Number correct: %s' % r)
    print('Number incorrect: %s' % w)
    print('Total Time: %s' % str(end_time-start_time))
    print('Seconds/Question: %s' % str((end_time-start_time)/n_questions))

In [5]:
practice_questions(df, 5)

Category:OSCAR, GRAMMY OR BOTH
Round:J Row:1.0
Clue:Frank Sinatra

Correct Response:both

Category:OMAHA BEACH
Round:J Row:2.0
Clue:(Sarah of the Clue Crew delivers the clue from Omaha Beach in France.)  Hours before his troops stormed these shores, he told them, "You are about to embark on the great crusade towards which we have striven these many months"

Correct Response:Eisenhower

Category:PULITZER PRIZE WINNERS
Round:DJ Row:2.0
Clue:(I'm Jonathan Capehart of The Washington Post.)  As part of a New York Daily News team, I won a 1999 Pulitzer for an editorial series that helped rescue this historic Harlem theater from financial mismanagement that had threatened its survival

Correct Response:the Apollo

Category:BROADWAY 2017
Round:DJ Row:3.0
Clue:Revived in 2017 & set during the final days of the Vietnam War, "Miss Saigon" was inspired by this Puccini opera

Correct Response:Madame Butterfly

Category:NYPD
Round:J Row:2.0
Clue:(Jimmy of the Clue Crew reports from an NYPD station.)  A Level C Tyvek suit is used by this NYPD unit that's named for the material they're dispatched to work around

Correct Response:a HAZMAT suit

Number correct: 0
Number incorrect: 5
Total Time: 11.780356000000001
Seconds/Question: 2.3560712

You can also subset the data to ask questions from a specific round

In [6]:
fj = df[df['round'] == "FJ"]
practice_questions(fj, 5)

Category:PRESIDENTIAL CANDIDATES
Round:FJ Row:nan
Clue:This is the most recent presidential election year when both major presidential candidates were residents of the same state

Correct Response:2016

Category:POLITICAL LITERATURE
Round:FJ Row:nan
Clue:The key message to this title figure in an Italian work is "it is far safer to be feared than loved"

Correct Response:The Prince

Category:THE HISTORY OF FRANCE
Round:FJ Row:nan
Clue:This modern regime that lasted 4 years changed the national motto to "Travail, Famille, Patrie"--"Work, Family, Fatherland"

Correct Response:Vichy France

Category:POLITICALLY CORRECT POP CULTURE
Round:FJ Row:nan
Clue:The violence goes on, but in 2006 Time Warner TV removed depictions of this activity from old "Tom and Jerry" cartoons

Correct Response:smoking

Category:BODIES OF WATER
Round:FJ Row:nan
Clue:First encountered in 1648 by a man born in Russia, it was eventually named after a man born in Denmark

Correct Response:the Bering Strait

Number correct: 0
Number incorrect: 5
Total Time: 10.512469999999999
Seconds/Question: 2.1024939999999996

Or subset to a specific category

In [7]:
history = df[df['category'] == "AMERICAN HISTORY"]
practice_questions(history, 5)

Category:AMERICAN HISTORY
Round:DJ Row:5.0
Clue:This education reformer took John Quincy Adams' seat in the House of Representatives, where he vigorously opposed slavery

Correct Response:Horace Mann

Category:AMERICAN HISTORY
Round:J Row:3.0
Clue:The oldest continuously settled city in America, it was named for the Bishop of Hippo

Correct Response:St. Augustine

Category:AMERICAN HISTORY
Round:FJ Row:nan
Clue:This volunteer group was born in May 1898 near the bar in San Antonio's Menger Hotel; it existed for just 133 days

Correct Response:the Rough Riders

Category:AMERICAN HISTORY
Round:DJ Row:1.0
Clue:In 1540 Garcia Lopez de Cardenas found this natural wonder; his men tried to climb down to the Colorado River but failed

Correct Response:the Grand Canyon

Category:AMERICAN HISTORY
Round:J Row:2.0
Clue:This period in the South can be divided into presidential (1865-1867) & Congressional or Radical (1867-1877)

Correct Response:Reconstruction

Number correct: 0
Number incorrect: 5
Total Time: 24.709909900000003
Seconds/Question: 4.94198198