# Jeopardy Practice

The purpose of this notebook is to create a simple function that asks the user to input the correct response to Jeopardy clues and records the number of correct/incorrect responses

In [21]:
import time
import os
import pandas as pd
pd.options.display.max_colwidth = 125
pd.options.display.max_rows = 100
os.chdir('C:\\Users\\mhous\\scrap\\JeopardyProject')

In [22]:
df = pd.read_csv('clues.csv')

df.head(10)

,game_id,show_number,date,value,round,category,column,row,order_number,clue,correct_response,correct,incorrect,n_correct,n_incorrect,n_didnt_know
0,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$200,J,HISTORIC STRUCTURES,1.0,1.0,8,"In an effort to preserve this 800-year-old Italian structure, really heavy counterweights were installed",the Leaning Tower of Pisa,Tim,NaN,1,0,0
1,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$400,J,HISTORIC STRUCTURES,1.0,2.0,9,"Before billeting the RAF in World War II, Blickling Estate was the birthplace of this second wife of Henry VIII",Anne Boleyn,Eric,NaN,1,0,0
2,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$600,J,HISTORIC STRUCTURES,1.0,3.0,10,"Later famous as a rock concert venue, Tokyo's Nippon Budokan Hall was built to host this martial art at the 1964 Olympics",judo,Tim,NaN,1,0,0
3,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$800,J,HISTORIC STRUCTURES,1.0,4.0,11,"""Scholars"" know the Knights Hospitaller had a palace for the grand master on this large Greek island",Rhodes,NaN,"Dana, Tim, Triple Stumper",0,2,3
4,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$1000,J,HISTORIC STRUCTURES,1.0,5.0,12,Herod built this Israel mountain fortress; later the Romans had trouble taking it from the Zealots,Masada,Dana,NaN,1,0,0
5,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$200,J,ALPHANUMERIC ATHLETES,2.0,1.0,21,Married to GB: TB12,Tom Brady,Eric,NaN,1,0,0
6,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$400,J,ALPHANUMERIC ATHLETES,2.0,2.0,22,Recently retired: KB24,Kobe Bryant,Eric,NaN,1,0,0
7,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$600,J,ALPHANUMERIC ATHLETES,2.0,3.0,23,Point guard CP3,Chris Paul,Eric,NaN,1,0,0
8,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$800,J,ALPHANUMERIC ATHLETES,2.0,4.0,24,Heisman Trophy winner RG#3,Robert Griffin III,Eric,NaN,1,0,0
9,"Show #7943 - Wednesday, March 6, 2019",7943,2019-03-06,$1000,J,ALPHANUMERIC ATHLETES,2.0,5.0,25,Hall of Fame running back LT2,LaDainian Tomlinson,NaN,"Eric, Tim, Triple Stumper",0,2,3

The purpose of the override is to manually record if you got the answer correct, but the input differed from the correct response due to spelling, parentheses, etc.

Just put "Y" as the override and it will be counted

In [23]:
def random_clue(data):
    random_int = np.random.randint(0, len(data))
    category = data.iloc[random_int]['category']
    clue = data.iloc[random_int]['clue']
    correct_response = data.iloc[random_int]['correct_response']
    game_round = data.iloc[random_int]['round']
    row = data.iloc[random_int]['row']
    print("Category:" + category)
    print("Round:"  + game_round + " Row:" + str(row))
    time.sleep(1)
    print("Clue:" + clue)
    response = input()
    print("Correct Response:" + correct_response)
    override = input()
    if response == correct_response or override == "Y":
        return True
    else:
        return False

In [24]:
def practice_questions(data, n_questions):
    start_time = time.perf_counter()
    r = 0
    w = 0
    for i in range(n_questions):
        response = random_clue(data)
        if response == True:
            r +=1
        else:
            w +=1
    end_time = time.perf_counter()
    print('Number correct: %s' % r)
    print('Number incorrect: %s' % w)
    print('Total Time: %s' % str(end_time-start_time))
    print('Seconds/Question: %s' % str((end_time-start_time)/n_questions))

In [25]:
practice_questions(df, 5)

Category:OF OUTRAGEOUS FORTUNE
Round:J Row:2.0
Clue:Talk about throwing your money away: ex-Tyco CEO Dennis Kozlowski spent $2,200 on a gilt metal one of these

Correct Response:a trash can

Category:FIRST NAME FILL-IN
Round:J Row:4.0
Clue:Mr. Club, seen here

Correct Response:billy

Category:CHARLESTON CHOOSY
Round:J Row:4.0
Clue:The April 1861 Confederate capture of this site precipitated the Civil War

Correct Response:Fort Sumter

Category:A SINGLE TREE
Round:J Row:1.0
Clue:Sequoia National Park has the General Grant tree & a 255-footer named for this man, Grant's boss

Correct Response:Lincoln

Category:FOREIGN 2-LETTER WORDS
Round:DJ Row:1.0
Clue:A Spanish senorita's lips may say, "No No No", but her eyes say this this this

Correct Response:Si Si Si

Number correct: 0
Number incorrect: 5
Total Time: 11.849765899999966
Seconds/Question: 2.3699531799999933

You can also subset the data to ask questions from a specific round

In [26]:
fj = df[df['round'] == "FJ"]
practice_questions(fj, 5)

Category:FAMOUS HOMES
Round:FJ Row:nan
Clue:Purchased in 1957 & called "the second most famous home in America", it was designated a National Historic Landmark in 2006

Correct Response:Graceland

Category:1960s TV CHARACTERS
Round:FJ Row:nan
Clue:One of her first spoken lines is translated as "You have the face of a wise and fearless caliph"

Correct Response:Jeannie

Category:HISTORIC HOMES
Round:FJ Row:nan
Clue:Also known as the "House of His Majesty", Fairfield House in England was the home of this African leader from 1936 to 1941

Correct Response:Haile Selassie

Category:WORLD CAPITALS
Round:FJ Row:nan
Clue:This capital city of 113,000 is the closest national capital to the Arctic Circle

Correct Response:Reykjavík

Category:WORLD CITIES
Round:FJ Row:nan
Clue:The food item that some named for Vienna, others named for this city 400 miles away

Correct Response:Frankfurt

Number correct: 0
Number incorrect: 5
Total Time: 63.13244949999989
Seconds/Question: 12.626489899999978

Or subset to a specific category

In [27]:
history = df[df['category'] == "AMERICAN HISTORY"]
practice_questions(history, 5)

Category:AMERICAN HISTORY
Round:J Row:1.0
Clue:This fort that successfully defended Baltimore in 1814 was built in the shape of a 5-pointed star

Correct Response:McHenry

Category:AMERICAN HISTORY
Round:DJ Row:2.0
Clue:Andrew Jackson was one of the landowners who founded this Tennessee town overlooking the Mississippi in 1819

Correct Response:Memphis

Category:AMERICAN HISTORY
Round:DJ Row:3.0
Clue:This tycoon's Northern Securities company was dissolved in 1904 for violating the Sherman Antitrust Act

Correct Response:(J.P.) Morgan

Category:AMERICAN HISTORY
Round:FJ Row:nan
Clue:In 1899, a reunion of this alliterative squad took place, with the governor of New York fittingly on horseback

Correct Response:the Rough Riders

Category:AMERICAN HISTORY
Round:DJ Row:4.0
Clue:Interior Secretary Albert Bacon Fall was convicted of bribery in leasing out oil reserves in Elk Hills, Buena Vista & this site

Correct Response:the Teapot Dome

Number correct: 0
Number incorrect: 5
Total Time: 49.99822989999984
Seconds/Question: 9.999645979999968